# Ігноруємо віртуальне середовище
.venv/
venv/

# Ігноруємо конфіденційні файли
.env

# Лог-файли
*.log

# Ігноруємо файли кешу Python
__pycache__/
*.pyc
*.pyo

# Ігноруємо IDE та системні файли
.idea/
.vscode/
.DS_Store
*.swp
